APP_ENV=staging
APP_LOG_LEVEL=INFO
DATABASE_REQUIRED=false
DATABASE_URL=postgresql://boxcalc_app:CHANGE_ME@CHANGE_ME.mdb.yandexcloud.net:6432/boxcalc_staging?sslmode=disable&target_session_attrs=read-write
ALLOWED_ORIGINS=https://CHANGE_ME.containers.yandexcloud.net
